{% extends "layout.html" %}

{% set active_page = "Preview" %}


{% block css %}

	<link rel="stylesheet" type="text/css" href="/static/vendors/highslide/highslide.css" />

{% endblock %}


{% block content %}

	<div class="content-wrapper">

		<div class="row">
			<div class="col-md-6 stretch-card">
				<div class="card">
					<div class="card-body">
						{% if urlscan and "task" in urlscan %}
							<h6 class="card-title">Page Screenshot at {{ urlscan["task"]["time"] }}</h6>
							<br>
							<a href="{{ urlscan["task"]["screenshotURL"] }}" class="highslide" onclick="return hs.expand(this, {
								headingText: '{{ urlscan["task"]["options"]["useragent"] }}'
							})">
								<img src="{{ urlscan["task"]["screenshotURL"] }}" class="rounded" alt="Screenshot" title="Click to enlarge" height="250" width="250"/>
							</a>
						{% else %}
							<h6 class="card-title">Error loading page screenshot</h6>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-md-6 grid-margin grid-margin-md-0">
				<div class="row">
					<div class="col-md-12 grid-margin">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Cached Page</h6>
								<br>
								{% if cached|length == 0 %}
									<p>No results found!</p>
								{% else %}
									<p>The site was found in the following caches:</p>
									{% for provider, url in cached %}
										<a href="{{ url }}">{{ provider }}</a><br>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">Live Page</h6>
								<br>
								<a target="_blank" href="
									{% if "//" in query %}
										{{ query }}
									{% else %}
										//{{ query }}
									{% endif %}
								">Link</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}


{% block js %}

	<script type="text/javascript" src="/static/vendors/highslide/highslide.min.js"></script>

{% endblock %}