<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>School of Phish</title>
	<link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/splash.css">
    <link rel="stylesheet" href="/static/css/loading.css">
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
</head>

<body>
    {% include "loading.html" %}

    <div class="container-scroller">
        <div id="tank"></div>
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg fish-form-container">
                <div class="row flex-grow">
                    <div class="col-lg-12 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo text-center">
                                <div class="mt-4 font-weight-bold"><h3>School of Phish</h3></div>
                            </div>

                            <form class="pt-3">
                                <div class="form-group">
                                    <label for="domainName" id="fish-label">Domain</label>
                                    <div class="input-group fish-form">
                                        <div class="input-group-prepend bg-transparent fish-margin">
                                            <span class="input-group-text bg-transparent border-right-0" id="fish-span">
                                                <i class="mdi mdi-link-variant text-primary"></i>
                                            </span>
                                        </div>

                                        <input type="text" class="form-control form-control-lg border-left-0" id="lookup" placeholder="domain.TLD">

                                        <div class="dropdown">
                                            <button type="button" class="btn dropdown-toggle" id="dropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color: #7987a1">
                                                <i class="mdi mdi-settings "></i>
                                            </button>

                                            <div class="dropdown-menu" aria-labelledby="dropdownSettings"
                                                 x-placement="bottom-start"
                                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);">
                                                <h6 class="dropdown-header">Settings</h6>
                                                <div class="dropdown-divider"></div>
                                                <div class="dropdown-item">
                                                    <div class="mt-2">
                                                        Follow Redirects
                                                        <label class="toggle-switch ml-2">
                                                            <input type="checkbox" id="settingsRedirectCheck" checked="" onclick="toggleSettingsRedirect()">
                                                            <span class="toggle-slider round"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="my-3">
                                    <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="searchButton" onclick="validateSearch()">LOOKUP</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/vendors/bundle/bundle.js"></script>
    <script src="/static/js/loading.js"></script>
    <script src="/static/js/splash.js"></script>
    <script src="/static/js/validation.js"></script>
</body>

</html>
